#sese-s {
  height: 100%;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
#sese-s a {
  color: inherit;
  text-decoration: none;
}
#sese-s a:hover {
  text-decoration: line-through;
}
#sese-s .sese {
  display: table;
  height: 100%;
}
#sese-s .profile {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
