#sese-s {
  height: 100%;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
#sese-s a {
  color: inherit;
  text-decoration: none;
}
#sese-s a:hover {
  text-decoration: line-through;
}
#sese-s .sese {
  display: table;
  height: 100%;
}
#sese-s .news {
  background-color: #777777;
  height: 100%;
  text-align: center;
  margin-right: auto;
  padding: 1em;
}
#sese-s .news .thumbnails img {
  width: 20%;
  margin: 2px;
}
#sese-s .profile {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  height: 100%;
}
#sese-s .small {
  font-size: small;
}
.noscroll {
  width: 100%;
  position: fixed;
  overflow-y: hidden;
}
