html {
  overflow-y: auto;
  overflow-x: hidden;
}
html,
body,
.contents {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}
p,
div {
  margin: 0;
}
a {
  color: inherit;
}
.cover {
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  position: fixed;
}
.shire,
.sese {
  cursor: pointer;
}
.shire-name {
  font-size: 40vw;
  line-height: 1;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.shire:hover {
  background-color: #222;
  color: #EEE;
}
.shire-name:hover {
  color: #f20d5e;
}
.shire-latest-info {
  margin: 30px;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.shire-latest-info:hover {
  color: #f20d5e;
}
.shire-latest-info-title,
.sese-latest-info-title {
  font-size: x-large;
}
.shire-latest-info-body,
.sese-latest-info-body {
  font-size: small;
}
.sese-latest-info {
  margin: 30px;
}
.sese-latest-info:hover {
  color: #e0f916;
}
.sese-name {
  text-align: center;
  font-size: 100vw;
  line-height: 1;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.sese:hover {
  background-color: #222;
  color: #EEE;
}
.sese-name:hover {
  color: #e0f916;
}
.sese-latest-info:hover {
  color: #e0f916;
}
.sese-latest-info:hover ~ .sese-name {
  color: #EEE;
}
.srss {
  margin-top: 15px;
  font-size: 25vw;
}
