#sese {
  height: 100%;
  color: white;
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: line-through;
    }
  }

  .sese {
    display: table;
    height: 100%;
  }
  .profile {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}
