mixin js(path)
  script(type='text/javascript', src="."+path)
mixin js_async(path)
  script(type='text/javascript', src="."+path, async='async')
mixin css(path)
  link(rel='stylesheet', href="."+path)
mixin template(id)
  script(id=id, type="text/x-jquery-tmpl")
extends layout

block header
  +css('/css/style.css')
  +css('/css/sese.css')

block content
  .cols#body
    .col#shire
      include shire
    .col#srss
      include srss
    .col#sese
      include sese
