mixin js(path)
  script(type='text/javascript', src="."+path)
mixin js_async(path)
  script(type='text/javascript', src="."+path, async='async')
mixin css(path)
  link(rel='stylesheet', href="."+path)
mixin template(id)
  script(id=id, type="text/x-jquery-tmpl")
extends layout

block header
  +css('/css/style.css')

block content
  .background#body
    .row#title
      .title-logo しれせせ
    .row#shire
      img(src="image/7thdays.png", height="350px", style="padding: 10px 0")
      .text
        | Tokyo 7th シスターズ BGMアレンジCD
    .row#sese
      img(src="image/srss01.png", height="500px", style="align=right")
