mixin js(path)
  script(type='text/javascript', src="."+path)
mixin js_async(path)
  script(type='text/javascript', src="."+path, async='async')
mixin css(path)
  link(rel='stylesheet', href="."+path)
mixin template(id)
  script(id=id, type="text/x-jquery-tmpl")
extends layout

block header
  +css('/css/style.css')
  +css('/css/sese.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:300' type='text/css')

block content
  .arrow.arrow-left#left-arrow
    i.fa.fa-angle-left
  .arrow.arrow-right#right-arrow
    i.fa.fa-angle-right
  .cols#body
    .col#shire-s
      include shire
    .col#srss-s
      include srss
    .col#sese-s
      include sese
