.sese
  .news
    img(src='image/srss01/000.png', height='50%')
    .thumbnails
      a(href='image/srss01/001.png')
        img.sumbnail(src='image/srss01/001.png')
      a(href='image/srss01/002.png')
        img.sumbnail(src='image/srss01/002.png')
    p.small ※画像はクリックで拡大します
  .profile
    span 挵
    span &nbsp;
    a(href='https://twitter.com/seseri7th') twitter
    span &nbsp;
    a(href='http://www.pixiv.net/member.php?id=115134') pixiv
